<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">



	<bean name="/xyz.html" class="demo.controllers.CustomerLoginController">
	</bean>
	<bean name="/abc.html" class="demo.controllers.CustomerController">
	</bean>
	<bean name="/vendor.html" class="demo.controllers.VendorRegisterController">
	</bean>
	<bean name="/ven.html" class="demo.controllers.VendorLoginController">
	</bean>
	<bean name="/logout.html" class="demo.controllers.Logout"></bean>
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>
